{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/components/tables/ -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>            
            {% for datas in table %}
                <tr>
                    {% for data in datas %}
                    <td>{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>

        $('table')['DataTable']({'info':![],'ordering':!![],'paging':![],'searching':![]});

    </script>

{% endblock %}